/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	/*background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR0aKebkdo5r5P0OI2yWVNOQ_Ep_xD8XHhrYYGqknpCqeGOXx3c");*/
	background-repeat: no-repeat;
	background-color: #fff2e6
	/*background-size: 100% 100%;*/
	/*background-position: bottom;*/

}
.navbar navbar-default {
	height: 30px;
}
#nav{
	height: auto;
	margin-right: 30px;
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: auto;
    font-size: 10px;
}
.container {
	margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
}

.container-table {
	margin-right: 30px;
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;

}
.container-fluid{
	border:1px solid #000000;
	margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
    padding: 10px;
}
table.table{
	border-color: 1px solid #000000;
}
table.table_edit{
    border-collapse:separate;
    border-spacing:10px 10px;
    width: 100%;
    
}
